<?xml version="1.0"?>
<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ServiceLocatorPageHandler" verb="*" path="*.aspx"
          type="_04_ASPNETWebForms_PagesHandlersModulesAndResources.ServiceLocatorPageHandlerFactory, 04_ASPNETWebForms_PagesHandlersModulesAndResources"/>
        <add name="ServiceLocatorHttpHandlerFactory" verb="*" path="*.ashx"
         type="_04_ASPNETWebForms_PagesHandlersModulesAndResources.ServiceLocatorHttpHandlerFactory, 04_ASPNETWebForms_PagesHandlersModulesAndResources"/>
      </handlers>
    </system.webServer>
</configuration>